/* src/assets/styles/Transitions.css */
.fade-enter {
    opacity: 0;
    transform: translateY(-20px); /* Di chuyển lên nhẹ */
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 600ms ease-in-out, transform 600ms ease-in-out; /* Thời gian và easing */
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-20px); /* Di chuyển lên nhẹ */
    transition: opacity 600ms ease-in-out, transform 600ms ease-in-out; /* Thời gian và easing */
}
